body {
    background-color: hsla(0, 0%, 0%, 0.698);
    background: linear-gradient(-0.25turn, #363636, #b1b0b0);
    
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, #000000, #ffffff);
    height: 6rem;
    margin-bottom: 4rem;
}

header h1 {
    font: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(0.25turn, #ffffff, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 10px 10px 20px  black;

    animation: 3s bigger infinite;
}

@keyframes bigger {
    from {
        font-size: 10px;
    }

    to {
        font: 100px;
    }
}


#score {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: 15rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
}

#score p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#boardCase {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#board
{
    display: flex;
    background-color: rgb(57, 64, 71);
    width: 40rem;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;

}

table, tr, td
{
    border: 2px solid black;
    border-collapse:collapse;
    width: 300px;
    height: 100px;
}


td
{
    background-color: white;
}


#endMenu {
    display: none;
    background-color: pink;
}

#endMenu #isRestart {
    background-color: transparent;
    animation: 1.12s clignoter infinite;
    transition: none;
}

@keyframes clignoter {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}